<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @milestone.project %>
</p>

<p>
  <strong>Name:</strong>
  <%= @milestone.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @milestone.description %>
</p>

<p>
  <strong>Due:</strong>
  <%= @milestone.due %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
