<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    <%= f.label :project %>
    <%= f.select :project_id, options_for_select(Project.all.collect {|p| [ p.name, p.id ] }, session[:project_id]), {}, {:class => "form-control"} %>
  </div>

  <div class="field form-group">
    <%= f.label :assignee %>
    <%= f.select :assignee_id, User.all.collect {|p| [ p.name, p.id ] }, {}, {:class => "form-control"} %>
  </div>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :due %>
    <%= f.datetime_select :due, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "10", :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :assets %> <br>
    <%= f.file_field :assets, multiple: true %>
  </div>

  <div class="actions form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
