<% title @task.name %>

<div class="row">

  <!-- left column -->
  <div class="" id="main-content">

  	<!-- begin task header -->
	<div class="row">
	  <div class="col">
		<h2><%= @task.name %></h2>
	  </div>
	</div>

	<div class="row">
	  <div class="col col-md-10">
		<strong>Due: </strong> <%= @task.due %> <br>
		<strong>Assignee: </strong> <%= link_to @task.assignee.name, user_path(@task.assignee) %> <br>
		<span class="badge priority-<%= @task.priority_label.downcase %> text-uppercase"><%= @task.priority_label %></span>
	  </div>
	  <div class="col col-md-2 text-right">
		<%= render 'tasks/followable' %>
	  </div>
	</div>
	<!-- end task header -->

	<div class="row">
		<div class="col">
		  	<div id="task-description">
				<%= markdown(@task.description) %>
		  	</div>
		</div>
	</div>

  </div>
  <!-- end: left col -->

  <div class="" id="sidebar">
  	<div id="task-comments">
	    <% @comments.each do |comment| %>
	    <div class="media comment">
		  <div class="media-body comment-body">
		    <h6 class="mt-0 mb-1"><%= comment.user.name %> <span class="comment-datetime">posted <%= time_ago_in_words(comment.created_at) %> ago</span></h6>
			<%= markdown(comment.comment) %>
		  </div>
		</div>
	    <% end %>
	    <div class="media comment">
		  <div class="media-body comment-body">
			<%= form_for([@task, @task.task_comments.build], remote: true) do |f| %>
			  <% if @task.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task_comment from being saved:</h2>

			      <ul>
			      <% @task.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>

		      <div class="form-group">
			    <%= f.label :comment, "Enter your comment" %>
			    <%= f.text_area(:comment, :class => "form-control", :rows => 5) %>
			  </div>

			  <div class="actions form-group">
			    <%= f.submit "Submit", :class => "btn btn-sm btn-success" %>
			  </div>
			<% end %>
		  </div>
		</div>
  	</div>
  </div>
</div>
