<div class="row">
  <div class="col">
	<h2><%= @task.name %></h2>
  </div>
</div>

<div class="row">
  <div class="col">
	<strong>Due: </strong> <%= @task.due %>
  </div>
</div>

<div class="row">
  <div class="col col-md-7">
  	<div id="task-description">
		<%= markdown(@task.description) %>
  	</div>
  </div>
  <div class="col col-md-5">
  	<div id="task-comments">
	    <% @comments.each do |comment| %>
	    <div class="media comment">
		  <div class="media-body comment-body">
		    <h6 class="mt-0 mb-1"><%= comment.user.name %></h6>
			<%= markdown(comment.comment) %>
		  </div>
		</div>
	    <% end %>
	    <div class="media comment">
		  <div class="media-body comment-body">
			<%= form_for([@task, @task.task_comments.build], remote: true) do |f| %>

		      <div class="form-group">
			    <%= f.label :comment, "Enter your comment" %>
			    <%= f.text_area(:comment, :class => "form-control") %>
			  </div>

			  <div class="actions">
			    <%= f.submit "SUBMIT" %>
			  </div>
			<% end %>
		  </div>
		</div>
  	</div>
  </div>
</div>
