

<div class="row">

  <!-- left column -->
  <div class="col col-md-8" id="main-content">
  
    <div class="row">
      <div class="col">
        <%= link_to '&laquo;'.html_safe + ' Go Back', projects_path %>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        <h5 class="editable"><%= @project.name %></h5>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <strong>Status:</strong> <%= @project.status %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <table class="table table-sm table-striped table-hover table-bordered tasks">
          <thead>
            <tr>
              <th>Name</th>
              <th>Assigner</th>
              <th>Assignee</th>
              <th>Due</th>
              <th>Priority</th>
              <th>Comments</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @tasks.each do |task| %>
              <tr class="priority <%= task.priority_label.downcase %>">
                <td><%= link_to task.name, task_path(task) %></td>
                <td><%= task.assigner.name %></td>
                <td><%= task.assignee.name %></td>
                <td><%= task.due %></td>
                <td><%= task.priority_label %></td>
                <td><%= get_count(@task_comment_count[task.id]) %></td>
                <td><%= link_to 'Show', task %></td>
                <td><%= link_to 'Edit', edit_task_path(task) %></td>
                <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


  </div>
  <!-- end: left col -->

  <div class="col col-md-4" id="sidebar">
  </div>
</div>
