<h1>Teams</h1>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Team</th>
      <th>Members</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><strong><%= link_to team.name, team_path(team) %></strong></td>
        <td><%= get_count(@team_members_count[team.id]) %></td>
        <td>
			<%= form_tag(project_role_path(params[:id], team.id), :id => "filter_form", :method => "post", :remote => true) do |f| %>
			  <%= select_tag(:role_id, options_from_collection_for_select(Role.all.order(power: :desc), :id, :name, team.roles.ids), class: 'form-control form-control-sm project_team_role selective') %>
			<% end %>
        </td>
        <td><%= link_to 'Remove', project_team_path(params[:id], team.id) %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
